<html>
    <head>
        <style>
            #div1{
                width: 270px;
                font-size: 30px;
            }
            .blue{
                color: blue;

            }
            #green{
                color: lightgreen;
            }
        </style>
    </head>
    <body>
        <div id="div1">
            <ul>
                <li><a class="blue">baabtra.com</a></li>
                <li><a id="green" class="blue">massbab.com</a></li>
                <li><a class="blue">codingforkid.com</a></li>
                <li><a class="blue">baabte.com</a></li>
            </ul>
        </div>
    </body>
</html>