<html>
    <head>
        <style>
            #content{
                background-color: darkblue;
                padding-left: 50headerpx;
                padding-right: 50px;
                padding-top: 50px;
                padding-bottom: 50px;
            }
        </style>
    </head>
    <body>
        <p id="content">
            baabtra.com, the online web portal from baabte system technologies, works as a link in identifying, training and placing quality freshers from regional colleges and institutes.
        </p>
    </body>
</html>