<html>
    <head>
        <style>
            #header {
                color: red;
                font-size: 30;
                font-family: cursive;
                font-weight: bold;
            }
            #content {
                color: darkblue;
                font-size: 15;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1 id="header">
            Welcome to baabtra.com 
        </h1>
        <p id="content">BAABTRA, works as a link in identifying, training and placing quality freshers from regional colleges and institutes.</p>
    </body>
</html>