<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                          signup
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="name" class="form-conrol col-lg-4">name</label>
                                <input type="text" class="form-control col-lg-4" id="firstname" placeholder="First name">
                                <input type="text" class="form-control col-lg-4" id="lastname" placeholder="Last name">
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-lg-4">Address</label>
                                <textarea class="form-control col-lg-8"></textarea>
                            </div>

                            <div class="form-group row">
                                <label for="state" class="form-conrol col-lg-4">state</label>
                                <select name="" id="state" class="form-control col-lg-8">
                                    <option value="">state1</option>
                                    <option value="">state2</option>
                                    <option value="">state3</option>
                                </select>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-l-6">

                </div>
            </div>
        </form>
        </div>
    </body>
</html>