<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<div class="container">
	<!-- <div class="row" style="background-color: red;">
		<div class="col-lg-12">
			<p>ghkjdafshsagdbfjuyaygbdhfgbsaubfsdhubvufbadgfbuybsdhgfubdahsvufbdsh.avfuddabsflbldsduhabhg bsdbafb</p>
		</div>
	</div>
	<div class="row" style="background-color: royalblue;">
		<div class="col-lg-5">
			<p> hdiushfyuashfyugyudhkasbfyuasdbfhbusdabfudshfb.a,hbrhujv sufbuyadsbyugfbisdbuyhvfusdbauvfuyisdybuvfudsdabfsyubdifbuahsdbfmbyuuuuuuuuuuuuuuuuuuuuuuuuu cx</p>
		<div class="col-lg-7">
				
		</div>
		</div>
	</div> -->
		<div class="row" style="background-color: royalblue; height: 200px;">
			<div class="col-lg-12">
				<p>ajsdnks jankdjsank jdsna jkdnkja sndkjasnj kdnsa kjdnakssj dksank dj askj dnksjanf kjnjsf nkjasn fjkjs njfsna kfjn kjasfnjkdbfbsdk jfbhsdkbfjks djfnjdbskjfb dskjbg jksdbkg jjbdk sbgkjdbsk gjbksjdb</p>
			</div>	
		</div>
		<div class="row" style="background-color: seagreen; height: 200px;">
			<div class="col-lg-6"><p>ajsdnksjankdjsankjdsnajkdnkjasndkjasnjkdnsakjdnakssjdksankdj askjdnksjanfkjnjsfn kjasnfjkjsnjfsn akfjnkjasfn jkdbfbsdkjfbhs dkbfjksdjfnjdbskjfb dskjbgjksdbkgjjbdk sbgkjdbskg jbksjdb</p></div>
			<div class="col-lg-6"><p>ajsdnksj ankdjsankjdsnaj kdnkjasndkjasn jkdnsakjdna kssjdk sankdj askjdnksjanf kjnjsfnkjasn fjkjsnjfs nakfjnk jasfn jkdbfbsdk jfbhsd kbfjksdj fnjdbskjfbd skjbgjksdbkg jjbdksbgkjdbsk gjbksjdb</p></div>
		</div>

	</div>
</body>
</html>