<!DOCTYPE html>
<html>
    <!-- <head>
        <title>test project</title>
    </head> -->
    <body>
        <h1>Tables</h1>
        <table border="5" cellpadding="10" cellspacing="5">
            <tr>
                <th>Name</th>
                <th>place</th>
                <th>Age</th>
            </tr>
            <tr>
               <td>Surya</td>
               <td rowspan="2">Kozhikode</td>
               <td>22</td> 
            </tr>
            <tr>
                <td>Kiran</td>
                <!-- <td>Ernakulam </td> -->
                <td>25</td>
            </tr>
            <tr>
                <td>Ajay</td>
                <td colspan="2">Banglore</td>
                <!-- <td>24</td> -->
            </tr>
        </table>
        <audio controls>
            <source src="Edi_Penne_Freek_Penne._Song_From_Malayalam_Movie_Oru_Adaar_Love.(128k).m4a">
        </audio>
    </body>
</html>